// font
@font-face {
    font-family: 'Vazir';
    src: url(./fonts/Vazir.eot);
    /* IE9 Compat Modes */
    src:
        url(./fonts/Vazir.eot?#iefix) format(embedded-opentype),
        /* IE6-IE8 */
        url(./fonts/Vazir.woff2) format(woff2),
        /* Super Modern Browsers */
        url(./fonts/Vazir.woff) format(woff),
        /* Pretty Modern Browsers */
        url(./fonts/Vazir.ttf) format(truetype);
    /* Safari, Android, iOS */

    font-weight: normal;
}

html,
body {
    font-family: 'Vazir', Arial, Helvetica, sans-serif;
    line-height: 1.4;
    text-align: center;
}

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// navbar
#navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    position: sticky;
    top: 0;

    ul {
        display: flex;
        flex-flow: row-reverse wrap;
        list-style: none;

        li {
            a {
                padding: 0.75rem;
                margin: 0 0.25rem;
            }

            a:hover {
                background-color: orange;
                border-radius: 5px;
            }
        }
    }
}

//header
header {
    height: 100vh;
    background: #333 url(./image/header.jpg) center center/cover no-repeat;

    .content {

        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        a {
            margin-top: -2rem;
        }
    }
}

// section 1
#section1 {
    margin: 0.75rem;
    padding: 1.25rem;

    .content {

        .items {

            ul {
                display: flex;
                flex-flow: row nowrap;
                list-style: none;
                justify-content: space-around;

                li {
                    margin: 0 1.25rem;
                    padding: 1.75rem;
                    flex: 1;
                    min-width: 11rem;

                    i {
                        background-color: orange;
                        padding: 1rem;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

// section 2
#section2 {
    .content {
        text-align: right;
        display: flex;
        flex-direction: row;

        .img {
            background: url(./image/image2.jpg) center center/cover no-repeat;
        }

        .col1 {
            flex: 2;
        }

        .col2 {
            flex: 1;
        }

        ul {
            list-style: none;

            li {
                padding-right: 2rem;
                padding-bottom: .5rem;
                border-bottom: rgb(27, 27, 27) .5px dotted;

            }

            li:hover {
                border-bottom: gray 1px solid;
            }
        }
    }
}

// section 3
#section3 {
    .content {

        .items {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            div {
                flex: 1;
                padding: 1rem;

                img {
                    display: inline-block;
                    border-radius: 50%;
                    width: 10rem;
                    height: 10rem;
                }
            }
        }
    }
}

// contact
#contact {
    display: flex;
    justify-content: center;


    .content {
        flex-basis: 37.5rem;
        text-align: right;

        label {
            display: block;
            margin: 1rem 0;
        }
        input , textarea {
            width: 100%;
            padding:.5rem;
        }
        // textarea {
        //     min-width: 37.5rem;
        //     max-width: 37.5rem;
        //     min-height: 6.25rem;
        //     max-height: 12.5rem;
        // }
        a {
            margin-top: 1rem;
            border: orange 2px solid !important;
        }
    }

}

// footer
footer {
    padding: 1rem 1.5rem;
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
            padding-left: .5rem;
        }
    }
}

// Utility Classes

.list-style-none {
    list-style: none;
}

.bg-dark {
    background-color: black;
}

.bg-gray {
    background-color: rgb(231, 228, 228);
}

.bg-light {
    background-color: white;
}

.text-decoration-none {
    text-decoration: none;
}

.text-orange {
    color: orange;
}

.text-light {
    color: white;
}

.bold {
    font-weight: bold;
}

.display-1 {
    font-size: 2rem;
}

.btn-orange {
    display: inline-block;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: none;
    background-color: orange;
    color: white;
}

.btn-orange:hover {
    background-color: white;
    color: orange;
}

.p-1 {
    padding: 1.25rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.p-4 {
    padding: 4rem;
}

.p-5 {
    padding: 5rem;
}

.m-1 {
    margin: 1.25rem;
}

.m-2 {
    margin: 2rem;
}

.m-3 {
    margin: 3rem;
}

.m-4 {
    margin: 4rem;
}

.m-5 {
    margin: 5rem;
}


.py-1 {
    padding: 1.25rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}

.py-4 {
    padding: 4rem 0;
}

.py-5 {
    padding: 5rem 0;
}

.pt-1 {
    padding-top: 1.25rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pt-3 {
    padding-top: 3rem;
}

.pt-4 {
    padding-top: 4rem;
}

.pt-5 {
    padding-top: 5rem;
}