#section1 .content .items ul li {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;

    i {
        align-self: center;
    }

    div {
        margin-right: 1rem;
    }
}

#section3 {
    .content {
        .items {
            div {
                img {
                    width: 20rem;
                    height: 20rem;
                }
            }
        }
    }
}